* {
  margin: 0%;
  padding: 0%;
}
body {
  background-image: url(./assets/SpaceBackground.jpg);
  background-size: cover;
}
header {
  display: flex;
  justify-content: center;
  margin: 5% 0%;
}

main {
  margin: 5.3% 0;
  display: flex;
  justify-content: center;
}

canvas {
  position: absolute;
  border: 2px solid;
  margin: 5% 0%;
}
