@font-face {
  font-family: 'game-over';
  src: url('./assets/Font/game_over.ttf') format('truetype');
}
* {
  margin: 0%;
  padding: 0%;
  /* overflow: hidden; */
}
body {
  background-image: url(./assets/SpaceBackground.jpg);
  background-size: cover;
}
header {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 3% 0%;
}
section {
  display: flex;
  justify-content: center;
}

main {
  margin: 2.3% 0;
  display: flex;
  justify-content: center;
}

canvas {
  position: absolute;
  margin: 5% 0%;
}

button {
  font-family: game-over;
  font-size: 4vw;
  color: white;
  background-image: url(./assets/SpaceBackground.jpg);
  padding: 3% 1%;
  border: 0.2vw solid yellow;
  border-radius: 15px;
}

.controls {
  font-family: game-over;
  font-size: 8vw;
  color: white;
  display: flex;
  justify-content: center;
}
section :nth-child(2) {
  display: flex;
  justify-items: center;
}
